
/* =============================================================================
   Variables
   ========================================================================== */

@screenBase:   62.5rem;
@screenSmall:  48rem;
@screenMedium: 62.5rem;
@screenLarge:  80rem;
@screenXlarge: 100rem;

@white:   rgb(255, 255, 255);
@white10: rgba(255, 255, 255, 0.1);
@white20: rgba(255, 255, 255, 0.2);
@white40: rgba(255, 255, 255, 0.4);
@white60: rgba(255, 255, 255, 0.6);
@white80: rgba(255, 255, 255, 0.8);

@black:   rgb(0, 0, 0);
@black5:  rgba(0, 0, 0, 0.05);
@black10: rgba(0, 0, 0, 0.1);
@black20: rgba(0, 0, 0, 0.2);
@black40: rgba(0, 0, 0, 0.4);
@black60: rgba(0, 0, 0, 0.6);
@black80: rgba(0, 0, 0, 0.8);

@lightGrey:  rgb(240, 240, 240);
@mediumGrey: rgb(59, 62, 70);
@darkGrey:   rgb(30, 31, 33);

@borderColor: rgb(220, 220, 220);

@borderRadius: 2px;
@infRadius:    10000px;

@baseFontSize: 15px;
